
.DS_Store
MarkovChain.xcodeproj/project.xcworkspace/xcuserdata/mykolaaleshchenko.xcuserdatad/UserInterfaceState.xcuserstate
MarkovChain.xcodeproj/xcuserdata/mykolaaleshchenko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
